.vscode/
.hbuilderx/
.history/
.idea/
node_modules/
unpackage/dist/
unpackage/cache/

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar
*.iws
*.iml
*.ipr

*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml

.flattened-pom.xml
